<h1>Log In Below:</h1>
<form method="post" action='/sessions'>
    <lable>Email: </lable>   
    <input type ="string" id="email" name="email">
    <lable>Password: </lable>
    <input type ="string" id="password" name="password">
    <br>
    <button value="Log in">Log In</button>
</form>


