<h1>Sign Up Below:</h1>
<form method="post" action='/registrations'>
    <lable>Name: </lable>
    <input type ="string" id="name" name="name">
    <lable>Email: </lable>
    <input type ="string" id="email" name="email">
    <lable>Password: </lable>
    <input type ="string" id="password" name="password">
    <br>
    <button value="Sign Upp">Sign Up</button>
</form>



